<?xml version="1.0" encoding="UTF-8"?>
<!-- Simulate robot in gazebo: To load our robot into the empty world  -->
<launch>
    <param name="my_robot" command="$(find xacro)/xacro.py '$(find my_first_robot)/urdf/my_first_robot.xacro'" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find my_worlds)worlds/world03.world"/>
    </include>

    <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param my_robot -model my_first_robot -x $(arg x) -y $(arg y) -z $(arg z)"/>
    <node pkg="robot_behaviors" type="reading_laser.py" name="laser-reader" output="screen"/>
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop">
  	</node>
</launch>